body{
    background-image: url(./image/bg.jpg);
  }
  
  .parrent{
      width: 1280px;
      margin: 200px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      
      
      h1 {
          text-align: center;
          font-size: 40px;
          
        }
        
        .container {
          display: flex;
          justify-content: center;
          gap: 10px;
          max-width: 600px;
          margin: 0px auto;
          margin-bottom: 20px;
          
        }
        
        .box {
          height: 90px;
          width: 90px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid violet;
          font-size: 25px;
          cursor: pointer;
          border-radius: 20px;
          transition: 0.2s ease-in-out;
          padding: 10px;
        }
        .box:hover {
          background-color: violet;
          color: white;
          transition: 0.2s ease-in-out;
          transform: scale(1.08);
        }

        .spcontainer{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 82px;
          color: orange;
        }